body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.navbar_container {
  width: 100%;
  padding-left: 20px;
  display: inline-block;
  margin-left: 250px;
}

.navbar {
  display: inline;
  float: left;
}
ul.navbar {
    background-color: #333;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    margin: auto;
    overflow: hidden;
}

ul.navbar li {
    float: left;
    display: inline;
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    font-weight: bold;
    margin: 5px;
    padding: 20px 26px;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.2s;
}
ul.navbar li a:hover {
    background-color: #aaa;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background: #333;
  color: #fff;
  outline: lpx solid #2a2a2a;
}

.sidebar h2 {
  text-align: center;
  margin: 0;
  padding: 10px;
  background: #2a2a2a;
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar li {
  outline: lpx solid #2a2a2a;
  transition: all 0.3s;
}
.sidebar li :hover {
  background: #aaa;
  border-left: 5px solidd #eee;
}
.sidebar a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.menu-bar {
  cursor: pointer;
}

.side-img {
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 10px;
  width: 200px;
  transition: 0.5s;
}

.side-img:hover {
    transform: scale(0.95);
}

article{
    padding: 65px;
    margin-right: 20px;
    margin-left: 270px;
    margin-top: 30px;
    align-content: center;
    background-color: #333;
}

li a.active {
  font-weight: bolder;
  color:bisque;
}

.contact_links>li>a {
  color: cyan; 
}
footer {
  text-align: center;
  padding: 3px;
  background-color: #aaa;
  color: white;
  
}
form{
  margin-left: 150px;
  align-content: center;
}
.article-img{
  margin-left: 300px;
  width: max-content;
}
.about-img{
  width:350px;
}
.about-text{
  margin-left: 375px;
}
.img-inginfor{
  width: 100%   ;
}
.logoricharmille{
  float: left;
  vertical-align: auto;
  width:290px;
  padding-right: 20px;
}
.logorolex{
  float: left;
  vertical-align: auto;
  width:290px;
  padding-right: 20px;
}
.logopatek{
  float: left;
  vertical-align: auto;
  padding-right: 20px;
}
.logojacob{
  float: left;
  vertical-align: auto;
  padding-right: 20px;
}
.logotagheuer{
  float: left;
  vertical-align: auto;
  padding-right: 20px;
}
.foto-year2_1{
  width:100%;
}
.foto-year2-2{
  width: 100%;
}
